# Django
DJANGO_SECRET_KEY=змінити-на-випадковий-рядок
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL (співпадає з docker-compose.yml)
POSTGRES_DB=potuzhno_shop
POSTGRES_USER=potuzhno_shop
POSTGRES_PASSWORD=potuzhno_shop
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
