{% load static %}
<link rel="stylesheet" href="{% static 'shop/css/style.css' %}">

<h1 class="product__name">{{product.name}}</h1>
<div class="product__wrapper">
    <div class="product-image__wrapper">
        {% if product.image %}
            <img class="product-image" src="{% static product.image %}" alt="{{ product.name }}">
        {% else %}
            <img class="product-image" src="https://placehold.co/400x400?text=No+Image" alt="{{ product.name }}">
        {% endif %}
    </div>
<div class="product-info__wrapper">
    <p>Бренд: {{product.brand}}</p>
<p>Ціна: {{product.price}} грн</p>
<p>Розміри: {{product.sizes|join:", "}}</p>
</div>
</div>
<p><a href="/products/">← до каталогу</a></p>